<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GET CRUD</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        .btn {
            outline: none;
            border: none;
            padding: 10px 25px;
            border-radius: 5px;
            cursor: pointer;
            margin: 5px;
            display: inline-block;
            text-align: center;
        }

        .btn-edit {
            background-color: greenyellow;
            color: #fff;
        }

        .btn-delete {
            background-color: rgb(238, 12, 12);
            color: #fff;
        }
    </style>
</head>

<body>
    <table style="width:100%">
        <tr>
            <th>Email</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>

        <% for(let i=0; i < data.length; i++) { %>
            <tr>
                <td>
                    <%= data[i].email %>
                </td>
                <td>
                    <%= data[i].firstName %>
                </td>
                <td>
                    <%= data[i].lastName %>
                </td>
                <td>
                    <%= data[i].address %>
                </td>
                <td>
                    <a href="http://localhost:8080/edit-crud?id=<%= data[i].id %>" class="btn-edit btn"
                        type="button">Edit</a>
                    <a href="/delete-crud?id=<%= data[i].id %>" class="btn-delete btn" type="button">Delete</a>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>